@page "/DemoEmailAddress"

<label class="control-label">Type an eMail Address</label>
<div class="input-group mb-3">
    <input @bind="EmailAddress" type="text" class="form-control" @onkeyup="@(e=> EmailOnKeyUp(e))" @onfocus="@(e=> EmailOnFocus(e))"
           style="font-weight:700" spellcheck="false" />
    <button class="@ButtonClass btn-primary ml-2" style="width:5em" @onclick="EmailTestOnClick">@ButtonCaption</button>
</div>

@if (EmailErrorMessage.Length > 0)
    {
    <div class="alert alert-danger mt-2" role="alert">
        <span class="oi oi-warning" style="font-size:1.5em;color:red" aria-hidden="true"></span>
        <button type="button" class="close ml-auto" aria-label="Close" @onclick="HideEmailErrorMessage">
            <span aria-hidden="true">&times;</span>
        </button>&nbsp;@EmailErrorMessage.ToString()
    </div>
    }

@code {
    private string ButtonClass = "btn btn-primary";
    private string ButtonCaption = "Test";
    private string EmailErrorMessage = string.Empty;
    private string EmailAddress = string.Empty;
    private readonly string TickMark = "✔";
    private readonly string CrossMark = "✘";

    private void EmailTestOnClick(MouseEventArgs e)
        {
        EmailAddress = EmailAddress.Trim();
        if (string.IsNullOrEmpty(EmailAddress))
            {
            EmailErrorMessage = "Please type an email address";
            ButtonClass = "btn btn-danger";
            ButtonCaption = CrossMark;
            return;
            }
        bool isOK = Globals.IsValidEmail(EmailAddress);
        if (isOK)
            {
            EmailErrorMessage = string.Empty;
            ButtonClass = "btn btn-success";
            ButtonCaption = TickMark;
            }
        else
            {
            EmailErrorMessage = "Not well formed";
            ButtonClass = "btn btn-danger";
            ButtonCaption = CrossMark;
            }
        }
    private void HideEmailErrorMessage(MouseEventArgs e)
        {
        ButtonClass = "btn btn-primary";
        ButtonCaption = "Test";
        EmailErrorMessage = string.Empty;
        }
    private void EmailOnKeyUp(KeyboardEventArgs e)
        {
        ButtonClass = "btn btn-primary";
        ButtonCaption = "Test";
        EmailErrorMessage = string.Empty;
        }
    private void EmailOnFocus(FocusEventArgs e)
        {
        ButtonClass = "btn btn-primary";
        ButtonCaption = "Test";
        EmailErrorMessage = string.Empty;
        }

}

