@page "/aboutus"
<div class="container">

    <div class="row">
        <h5 class="mt-2">
            <string>Since 1994 ACCESSible IT Limited has specialised in...</string>
        </h5>
    </div>
    <div class="row">
        <h5 class="mt-2 ml-5">
            Microsoft Access databases using Visual Basic for Applications (VBA)
        </h5>
    </div>
    <div class="row">
        <h5 class="mt-2 ml-5">
            SQL Server databases together with Microsoft Access
        </h5>
    </div>
    <div class="row">
        <h5 class="mt-2">
            In the last five years we have moved to the Web and begun to write
            and maintain SQL Azure and Cosmos DB databases with Power BI for reporting.
        </h5>
    </div>
    <div class="row">
        <h5 class="mt-2">
            Our systems support clients in central and local government, the engineering
            and automotive industries as well as commerce and the charitable sector.
        </h5>
        <h5 class="mt-2">
            Our clients are based in Coventry, Warwickshire, West Midlands, Nottinghamshire,
            Leicestershire, Northamptonshire, Devon and London.
        </h5>
    </div>
    <div class="row mt-4">
        <h3>
            Web Databases
        </h3>
        <h5>
            Much as we like MS Access it is not suited to the world of the internet and so we now have the
            capability to build state-of-the-art SQL Azure or Cosmos DB databases using a browser as the interface.
            These databases are fully secured using Azure Active Directory.  Communication across the web uses the latest encryption
            technology and the data is stored in an encrypted state.
        </h5>
        <h5>
            The downside - it takes three times as long to build such databases and there is a revenue cost each year
            for Azure services. The upside is that you can work wherever there is an internet connection
            and Microsoft takes care of licensing, updates, backups air-conditioning and pretty much everything else.
        </h5>
    </div>
    <div class="row mt-4">
        <h3>
            Confidentiality and Data Protection
        </h3>
    </div>
    <div class="row">
        <h5>
            Prior to commencing any work we issue a written and signed Non-Disclosure Agreement.
            Data will be stored on a computer that is…...
        </h5>
        <div class="col-sm-12 p-2">
            <ul style="font-size:20px">
                <li>Protected by a strong password</li>
                <li>Behind a hardware firewall</li>
                <li>Protected by an up-to-date virus checker</li>
                <li>Secured to the metal frame of the desk by a strong security cable and padlock</li>
                <li>In premises protected by a modern alarm system</li>
                <li>In premises protected by a modern video system</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h3>Company Registration</h3>
    </div>
    <div class="row">
        <h5>
            We are a limited liability company registered in England in 1994; reference number 3225322
        </h5>
    </div>

    <div class="row mt-4">
        <h3>Trade Mark</h3>
    </div>
    <div class="row">
        <h5>@@<sup>it</sup></h5>
    </div>
    <div class="row mt-4">
        <h3>VAT Registration</h3>
    </div>
    <div class="row">
        <h5>
            Our VAT registration number is: 670 3788 14
        </h5>
    </div>
    <div class="row mt-4">
        <h3>Acknowledgements</h3>
    </div>
    <div class="row mb-4">
        <h5>We are grateful for the generosity of the following people and companies who freely provided resources and examples as follows...</h5>
        <div class="col-sm-12 p-2">
            <ul style="font-size:20px">
                <li>
                    <a href="http://twitter.github.io/bootstrap/">
                        Twitter Bootstrap
                    </a> for the style templates and some of the icons
                </li>
                <li>
                    Icons from <a href="https://fontawesome.com/">
                        Font Awesome
                    </a>
                </li>
                <li>
                    Photographs from the <a href="https://news.microsoft.com/imagegallery/">Microsoft Image Gallery</a>
                </li>
                <li>
                    CugeDe for the <a href="http://www.regexlib.com/REDetails.aspx?regexp_id=527">REGEX</a> code to validate a NI number
                </li>
                <li>
                    Microsoft <a href="https://www.microsoft.com/en-us/maps">Bing Maps</a> for the mapping page
                </li>
                <li>
                    <a href="https://www.chartjs.org/samples/latest/">Chart JS</a> for the charting package
                </li>
            </ul>
        </div>
    </div>

</div>
@code {

}
