@page "/"

<div class="container">
    <div class="row">
          <h5>
                This is a Blazor web app hosted in Microsoft Azure.  It is a showcase for the skills and products that we can bring to a modern web-database
        </h5>
        <h1>Web Database Design</h1>
        <h5>
            Since 1994 ACCESSible IT Limited has created bespoke, reliable, legal, secure, robust databases and applications for personnel management, absence monitoring, document management, caring services, bulk e-mailing, SMS Messaging, billing, work-in-progress, costing, training timetables and classroom allocation.
            These systems support clients in central and local government, the engineering and automotive industries as well as commerce and the charitable sector.
        </h5>
        <h5>
            We use <a href="http://www.teamviewer.com/en/index.aspx">TeamViewer</a>
            and <a href="https://www.microsoft.com/en-gb/microsoft-365/microsoft-teams/group-chat-software">Teams</a>
            to provide remote guidance, support and training.
        </h5>
        <h5>
            We offer experienced, sound, commercially unbiased, free of charge advice about trends, issues, bugs and best practice for a proposed database - we can guide you through a project that will not fail.
        </h5>
    </div>
    <div class="row">
        <h2>Microsoft Azure</h2>
        <h5>
            We design MVC web sites hosted in Microsoft's Azure cloud using web-apps and SQL Server or CosmosDB.
            These sites are secured with Azure Active Directory.
            Sophisticated reporting can be achieved with a free subscription to Power BI. Bulk emailing can be achieved using
            <a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/SendGrid.SendGrid">Sendgrid</a> (25,000 emails a month for free!)
        </h5>
        <h5>
            Select Demo 1 and Demo 2 from the sidebar to see what can be achieved using Microsoft
            <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a>.
            This site is built using the server hosting model and
            <a href="https://docs.microsoft.com/en-us/aspnet/core/signalr/introduction?view=aspnetcore-3.1">SignalR</a>.
        </h5>
    </div>

    <div class="row">
        <h2>Microsoft Access</h2>
        <h5>
            <a href="https://www.microsoft.com/en-gb/microsoft-365/access?rtc=1">MS Access</a>
            is a rapid application development tool for creating relational databases quickly.  First published in <a href="http://en.wikipedia.org/wiki/Microsoft_Access">1992</a>
            , it is a solid and reliable platform for data management.  It has a first rate reporting package as well as the ability to share data with the Office Suite.
            We have experience in maintaining legacy systems and mentoring the more adventurous user who wants to develop an existing system.
        </h5>
    </div>
    <div class="row">
        <h2>Excel, Outlook and Visual Basic for Applications (VBA)</h2>
        <h5>
            VBA is the common feature that allows all the MS Office applications (Excel, Word, Outlook etc) to manipulate and share data; it is a mature and stable programming language.
            We have experience in creating automated Word templates and Excel and Outlook automation.
        </h5>
    </div>
    <div class="row">
        <h2>SQL Server Express</h2>
        <h5>
            <a href="https://www.microsoft.com/en-in/sql-server/sql-server-2019">SQL Server Express</a> is our preferred back-end data store for on-premises systems.
            The express version is free; used with MS Access as a front-end it provides a reliable and inexpensive database system.
        </h5>
    </div>
</div>
    @code {

    }



