@page "/planning"
<h3>Planning</h3>
    <h4>Anyone considering a new database project might like to ask themselves the following questions...</h4>
    <br/>
    <h4>Feasibility Study</h4>
    <ol style="font-size:20px">
        <li>What are the objectives of the new system?</li>
        <li>Who takes the blame if the system does not deliver measurable business benefits? </li>
        <li>How much money actually exists in the budget for this development? </li>
        <li>Who holds the budget? </li>
        <li>Will the project make the organisation more efficient or more effective? </li>
        <li>How does the proposed system fit with the information strategy? </li>
        <li>How long will the various stages take? </li>
        <li>Who will do what? </li>
        <li>Is there an off-the-shelf alternative? </li>
        <li>Will the staff have enough time to sit and explain how the system works? </li>
        <li>Is there someone who can write down ALL the rules for transforming the data? </li>
    </ol>
    <h4>Resources</h4>
    <ol style="font-size:20px">
        <li>Do we have the hardware and software to meet our aspirations? </li>
        <li>Do we have enough expertise? </li>
        <li>Do we have all the additional equipment necessary to do the job? </li>
        <li>Where will the programmer/developer sit, Is there a spare PC? </li>
        <li>Has the IT Department told you that there are imminent changes to your soft and hardware? </li>
    </ol>
    <h4>Politics</h4>
    <ol style="font-size:20px">
        <li>Who gains power and who loses it from this development? </li>
        <li>Does the project have top management approval and support?</li>
        <li>Has the IT Manager and the Network Manager been informed of your plans?</li>
    </ol>
    <h4>Data Protection</h4>
    <ol style="font-size:20px">
        <li>Will the system hold data about a living individual? </li>
        <li>Which folders are actually backed up at night? </li>
        <li>Will we hold a copy of the database off site? </li>
    </ol>
    <h4>Physical Protection</h4>
    <ol style="font-size:20px">
        <li>How will we stop equipment or data theft? </li>
        <li>Do we need a disaster contingency plan? </li>
    </ol>
    <h4>Staffing</h4>
    <ol style="font-size:20px">
        <li>Who will be on the project team and who will do their work whilst they are on it? </li>
        <li>Who will be responsible for database administration after the implementation date? </li>
        <li>Will we need a help desk? </li>
    </ol>
    <h4>Staff Associations</h4>
    <ol style="font-size:20px">
        <li>How will the project affect existing jobs? </li>
        <li>How will the new idea be introduced into the organisation? </li>
        <li>Should we have a publicity policy? </li>
    </ol>
    <h4>Project Boards/Committees/Steering Groups/Supervision</h4>
    <ol style="font-size:20px">
        <li>How will we make the development team accountable to the organisation’s needs? </li>
        <li>At what point will the design be frozen? </li>
    </ol>
    <h4>Standards</h4>
    <ol style="font-size:20px">
        <li>What standards will we use to design and deliver the system? </li>
    </ol>
    <h4>Training</h4>
    <ol style="font-size:20px">
        <li>What are the training needs and costs? </li>
        <li>Who will write AND maintain any procedure manuals? </li>
    </ol>
    <h4>Auditing</h4>
    <ol style="font-size:20px">
        <li>What input to the design do the Auditors want? </li>
    </ol>
    <h4>Health and Safety</h4>
    <ol style="font-size:20px">
        <li>Have we got the right chairs, blinds and tables? </li>
    </ol>
    <h4>System Performances</h4>
    <ol style="font-size:20px">
        <li>What response times do we want? </li>
        <li>How should the test data be designed? </li>
        <li>Will we try parallel running during the implementation period? </li>
        <li>Is our network up to it? </li>
    </ol>
    <h4>Contingencies</h4>
    <ol style="font-size:20px">
        <li>What are the cost implications if the project overruns? </li>
        <li>If key staff leave or become ill, or better still, win the lottery what happens?</li>
        <li>If a JCB chops through our data cable, how will we work?</li>
    </ol>
@code {

}