@page "/privacy"
<div class="container">
    <h2>Privacy</h2>
    <br />
    <h4>Personal Information</h4>
    <h5>
        Customer's personal information will not be disclosed except in strict compliance with the Data Protection Acts.
        Contact details will never be transferred to a third party for marketing or any other unwanted purposes.  We do not make annoying sales calls.
    </h5>
    <br />
    <h4>Data Security</h4>
    <h5>
        When it is necessary to have client's data on the premises, it is always stored on a PC with a strong password, behind a hardware firewall.  In addition we use MalwareBytes to prevent in-memory threats,
    </h5>
    <h5>
        The PC is secured to the desk with a thick metal cable and padlock.  The premises are protected with an up to date alarm system together with video cameras front and rear.
        These provisions are in addition to the usual password security installed on the database.
    </h5>
    <h5>
        Whenever we have to send data to a client we use TeamViewer or Teams as a secure means of transferring the data.
    </h5>
    <br />
    <h4>Non-Disclosure Agreement</h4>
    <h5>
        When speaking to clients about their system it is our usual practice to protect them by signing a non-disclosure agreement.
        We can either use yours or our own; ours follows the guidance given by the <a href="https://www.gov.uk/government/publications/non-disclosure-agreements/non-disclosure-agreements">Intellectual Property Office.</a>
    </h5>
</div>
@code {

}
