@page "/specification"
<div class="container">

    <h2>Specification - How Do We Work?</h2>
    <h3>A New Database - Options Meeting</h3>
    <h5>
        We meet and discuss the options available.  We explain the synergies, strengths and weaknesses of the options.
        We will give you an approximate price.  There is no charge for this part of the service. (During the COVID-19 emergency we can use Teams or TeamViewer to host a meeting.)
    </h5>
    <h3>Initial Specification</h3>
    <h5>
        Having met and discussed requirements and a price, you may like us to proceed to drawing up a specification document; this is usually four to six pages long.
        Sometimes it helps if you can see what we envisage to be the requirement, so we build a mock-up front-end
        comprising just tables and forms with very little functionality.
        We find at this point you recognise nuances from your requirement have escaped our understanding.
        Then, there is a flurry of emails as the design takes shape.
        The mock-up shuttles back and forth until the we have an agreed design.
        In the end, you understand what we intend to build in considerable detail; there are no surprises.
    </h5>

    <h3>Final Specification</h3>
    <h5>The final document will be structured along the following lines...</h5>
    <ol style="font-size:20px">
        <li>Requirements - A paragraph stating in broad terms what benefits you want the database to bring</li>
        <li>History - Brief narrative of how you arrived at the decision to create this database</li>
        <li>How Will It Work? - a description of the how data enters the system, is checked, rejected, modified, stored, displayed and reported on</li>
        <li>Security provisions for the new system</li>
        <li>Back-up provision</li>
        <li>Quality standards for code</li>
        <li>Deliverables - A list of the main tables, forms and reports</li>
        <li>Response Times - a statement that response times will be acceptable according to local web standards and that the system will be robust and dependable</li>
        <li>Our assumptions about your obligations with regard to Data Protection</li>
        <li>Concerns - we will list areas where we feel that your expectations may not be met - e.g. your network may be saturated or your bandwidth is too small.</li>
        <li>Non-Disclosure and Data-Protection assurances</li>
        <li>Price, VAT</li>
        <li>
            Terms - invoice to be issued when the system meets the requirements in the specification and has been up and running for a month.  Payment is expected within 21 days.
            On large projects it is usual to agree some sort of stage payment plan
        </li>
        <li>Copyright - to pass to you when payment is received in full</li>
        <li>Timetable - a set of stages and a delivery date. Usually these are finalised after you have perused the specification</li>
        <li>Changes to the Specification - a paragraph explaining that minor and cosmetic changes can be made during the build process, but major changes will require a price revision</li>
        <li>Support - a paragraph asserting that we will fix our bugs for free</li>
    </ol>

    <h3>An Existing Access Database - iConsultancy</h3>
    <h5>
        If you have a database where data disappears, or it keeps telling you someone else has changed the data
        or it responds like a snail and crashes once a week then why not zip up the database and email it to us?
        We will look at it and give you an opinion about the state of the code and the data model as well as some
        good advice to stop it crashing.
    </h5>
    <h5>
        There is no charge for this. (If the database contains sensitive data, don't
        forget to password protect the zip file).  Alternatively, we can remotely access your PC and look at the
        database under your supervision.  You can demonstrate the problem and we can proffer solutions.
        We assume that you own the copyright.
    </h5>

    <h3>Mentoring</h3>
    <h5>
        Sometimes you have enough technical competence to solve the day-to-day challenges but you need someone to
        sit with you and analyse a complex data management problem. We offer a broad range of experience to
        demonstrate options or to set you on your way towards a fresh solution. We call this mentoring or one-to-one training.
    </h5>
</div>
@code {

}

